<p>
This app is a simple app meant to be used to build automated test cases.
</p>

<p>
You can see the source code in <a href="https://github.com/dmitryrck/redis-users">github.com/dmitryrck/redis-users</a>.
</p>

<h2>Features</h2>

<ol>
  <li>You can create Lists and Users</li>
  <li>This app deletes Lists and Users 30 minutes after its creating</li>
  <li>You have to create a List before creating Users</li>
  <li>A User has only Name, Email, and Password</li>
  <li>It is possible to create, update, and delete a User</li>
  <li>After the registration of a User in the List, it is also possible to Login using email and password</li>
  <li>Registration of a User in a list should not influence Users in other Lists</li>
</ol>

<p>
  Take a look at the automated test file for this app below:
</p>

<pre>
<%= settings.test_file %>
</pre>
