<form action="/lists" method="get">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name">
    </div>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
